@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap')

.gin, .tequila, .rum, .whiskey, .scotch, .vodka, .popular, .favorites{
    /* position: relative;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    font-size: 20px; */
}
.drinks{
    border-bottom: 1px solid yellow;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    font-size: 20px;
    border-top: 1px solid yellow;
    font-family: 'Rubik', sans-serif;
    
}