
*{
  margin: 0;
  padding: 0;
  box-sizing: border;
}
body{
  background-color: black;
}
.home-img{
  width: 500px;
    position: relative;
    left: 28%;
}
.login-box{
  width: 40%;
  position: absolute;
  top: 60%;
  left:50%;
  transform: translate(-50%,-50%);
  color: white;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;

}
.textbox input{
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid yellow;
  color: white;
  font-size: 18px;
  width: 40%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 35%;
  height: 30px;
  background: none;
  border: 2px solid yellow;
  color: white;
  padding: 5px;
  font-size: 17px;
  cursor: pointer;
  margin: 12px 0;
}

/* random */

h2{
  text-align: center;
  
  color: white;
}
ul{
  
  top: 10px;
  
  text-align: center;
  right: 10px;
  /* left: 45%; */
  font-size: 25px;
}
img{

  justify-content: space-between;
  width:400px;
  margin: 20px;
  font-size: 20px;
  height: 436px;
}
/* img:hover{
  box-shadow: 2px 2px 3p black;
  transform: translate3d(-1px, -1px, 0);
} */
a{
  color: white;
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
}
li{
  color:whitesmoke;
}
p{
  color: white;
}
.parent-div{
display: flex;
flex-direction: column;
align-items: center;

}
.drinks-img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;

}
.vodka-img{
  width: 200px;
  height: 250px;
  
}
.vodka-ptag{
  position: absolute;
   top: 600px;
   left: 27%;
   width: 100%;
   width: 300px;
   font-size: 30px;
   height: 50px;
}
.gin-img{
  width: 200px;
  height: 250px;
}
.gin-ptag{
  position: absolute;
  top: 600px;
  left: 45.5%;
  width: 100%;
  width: 300px;
  font-size: 30px;
  height: 50px;
}
.tequila-img{
  width: 200px;
  height: 250px;
}
.tequila-ptag{
   position: absolute;
   top: 600px;
   left: 63%;
   width: 100%;
   width: 300px;
   font-size: 30px;
   height: 50px;
}
.scotch-img{
  width: 200px;
  height: 250px;
}
.scotch-ptag{
  position: absolute;
  top: 890px;
  left: 26%;
  width: 100%;
  width: 300px;
  font-size: 30px;
  height: 50px;
}
.whiskey-img{
  width: 200px;
  height: 250px;
}
.whiskey-ptag{
  position: absolute;
  top: 890px;
  left: 44%;
  width: 100%;
  width: 300px;
  font-size: 30px;
  height: 50px;
}
.rum-img{
  width: 200px;
  height: 250px;
}
.rum-ptag{
  position: absolute;
  top: 890px;
  left: 63%;
  width: 100%;
  width: 300px;
  font-size: 30px;
  height: 50px;
}



