*{
  box-sizing: border;
}
body{
  background-color: black;
}
.home-img{
  width: 450px;
    position: relative;
    left: 34%;
}
.login-box{
  width: 40%;
  position: absolute;
  top: 60%;
  left:50%;
  transform: translate(-50%,-50%);
  color: white;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;

}
.textbox input{
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid yellow;
  color: white;
  font-size: 18px;
  width: 40%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 35%;
  height: 30px;
  background: none;
  border: 2px solid yellow;
  color: white;
  padding: 5px;
  font-size: 17px;
  cursor: pointer;
  margin: 12px 0;
}
h2{
  text-align: center;
  
  color: white;
}
ul{
  
  top: 10px;
  
  text-align: center;
  right: 10px;
  font-size: 25px;
}
img{

  justify-content: space-between;
  width:400px;
  margin: 20px;
  font-size: 20px;
  height: 436px;
}
a{
  color: white;
  display: flex;
  justify-content: space-between;
}
li{
  color:whitesmoke;
}
p{
  color: white;
}
.fav-btn{
  color: black;
  text-decoration: none;
  background: rgb(241, 218, 5);
  border-radius: 10%;
  display: inline-block;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  width: 80px;
  height: 40px;
  position: relative;
  right: 1.3%;
  top: 0px;
  
}



button:hover{
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
transition: all 0.4s ease 0s;
}

.random-list{
  display: flex;
  flex-flow: wrap;
}
.random-title{
  margin-bottom: 20px;
}
.searchbar{
  position: relative;
  left: 38%;
  margin-bottom: 80px;
}
input{
  width: 300px;
  height: 50px;
  font-size: 30px;
}
.search-btn{
  position: relative;
  left: 1%;
  color: black !important;
text-decoration: none;
background: rgb(241, 218, 5);
border-radius: 10%;
display: inline-block;
transition: all 0.4s ease 0s;
cursor: pointer;
width: 150px;
height: 45px;
position: relative;
font-size: 20px;
}
.vodka-list{
  display: flex;
flex-flow: wrap;
justify-content: space-evenly;
}
.vodka-h2{
  font-size: 40px;
  margin-bottom: 90px;
  border-bottom: 1px solid yellow;
}
.popular-list{
  display: flex;
flex-flow: wrap;
justify-content: space-evenly;
}
.popular-h2{
  font-size: 40px;
  margin-bottom: 90px;
  border-bottom: 1px solid yellow;
}
.gin-list{
  display: flex;
flex-flow: wrap;
justify-content: space-evenly;
}
.gin-h2{
  font-size: 40px;
  margin-bottom: 90px;
  border-bottom: 1px solid yellow;
}
.tequila-list{
  display: flex;
flex-flow: wrap;
justify-content: space-evenly;
}
.tequila-h2{
  font-size: 40px;
  margin-bottom: 90px;
  border-bottom: 1px solid yellow;
}
.search-list{
  display: flex;
flex-flow: wrap;
justify-content: space-evenly;
}
.search-h2{
  font-size: 40px;
  margin-bottom: 90px;
  border-bottom: 1px solid yellow;
}
.rum-list{
  display: flex;
flex-flow: wrap;
justify-content: space-evenly;

}
.rum-h2{
  font-size: 40px;
  margin-bottom: 90px;
  border-bottom: 1px solid yellow;
}
.scotch-list{
  display: flex;
flex-flow: wrap;
justify-content: space-evenly;
}
.scotch-h2{
  font-size: 40px;
  margin-bottom: 90px;
  border-bottom: 1px solid yellow;
}
.whiskey-list{
  display: flex;
flex-flow: wrap;
justify-content: space-evenly;
}
.whiskey-h2{
  font-size: 40px;
  margin-bottom: 90px;
  border-bottom: 1px solid yellow;
}
.fav-list{
  display: flex;
  justify-content: center;
  flex-direction: row;

}
h2{
  font-size:40px
}
